.main {
  padding: 2rem 4rem;
  min-height: 100vh;
}

.main > h2 {
  font-size: 2.1em;
  font-weight: 200;
}

.subtitle {
  font-size: 2em;
  font-weight: 300;
  max-width: 35%;
  border-bottom: 1px solid green;
  margin: 1em;
}

/* Mobile */
@media (max-width: 700px) {
  .main {
    padding: 1rem;
  }

  .main > h2 {
    font-size: 1.5em;
  }

  .subtitle {
    font-size: 1.3em;
    max-width: 55%;
  }
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
  .main {
    padding: 2rem;
  }

  .main > h2 {
    font-size: 2.0em;
  }

  .subtitle {
    font-size: 1.6em;
    max-width: 45%;
  }
}
