.main {
  padding: 4rem;
  min-height: 100vh;
}

/* Mobile */
@media (max-width: 700px) {
  .main {
    padding: 1rem;
  }
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
  .main {
    padding: 2rem;
  }
}
